<%= render "navbar" %>

<div class="banner">
  <div class="container">
    <h1>Movie Category List</h1>
  </div>
</div>

<div class="container mt-5">
  <h3>Collect, curate, and share. Lists are the perfect way to group films.</h3>
  <%=link_to "Start your own list", new_list_path, class: "btn btn-flat" %>
  <div class="row">

    <% @lists.each do |list| %>
    <div class="card" id="list_image" style="width: 25rem; height: 25rem" >
      <h1><%= link_to list.name, list_path(list.id) %></h1>
      <div class="card-function">
        <%= link_to "", list_path(list.id), class: "fa-solid fa-trash", data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this list?" } %>
        <%= link_to "", edit_list_path(list.id), class: "fa-regular fa-pen-to-square" %>
      </div>
    </div>
    <% end %>
  </div>
</div>



