<%= render "navbar" %>

<%# Model form to create a movie list%>
<div class="container">
  <h3> Create new category list </h3>
  <%= simple_form_for @list do |f| %>
    <%= f.input :name, placeholder: 'Your personal movie category name'%>
    <%= f.button :submit, class: 'btn btn-primary my-4' %>
  <% end %>

  <%= link_to "Back to movie list", lists_path %>
</div>
