<%= render "navbar" %>

<%# banner %>
<div class="banner_movie" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @list.photo.key, height: 300, crop: :fit %>')">
  <div class="inner_text">
    <h1><%= @list.name %></h1>
  </div>
  <div class="number_of_movie">
    <h1><%=pluralize(@list.movies.size, "movie") %></h1>
  </div>
</div>

<%# list of movie %>
<div class="container mb-5">
  <div class="d-flex justify-content-between my-4">
    <span class="mb-2 d-block"><small><em class="text-muted"><%= "You haven't saved any movies yet!" if @list.movies.empty? %></em></small></span>
    <div>
      <button type="button" class="btn btn-flat" data-bs-toggle="modal" data-bs-target="#new_movie_modal">
       <%= link_to "Add a movie", new_list_bookmark_path(@list.id), class: "btn btn-flat"%>
      </button>
    </div>
  </div>

<%# list of movie with overview and rating %>
<div class="container mt-5">
  <div class="row">
    <% @bookmark.each do|b| %>
      <div class="card" style="width: 25rem;">
          <%= image_tag(b.movie.poster_url)%>
          <div class="card-body">
            <h5><strong><%= b.movie.title %></strong></h5>
            <p> <%= b.movie.rating %><i class="fa-solid fa-star" style="color: #ffd86b;"></i></p>
            <p> <%= b.movie.overview %></p>
            <p> <%= b.comment %></p>
            <%= link_to "Delete",list_path, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
          </div>
        </div>
    <% end %>
  </div>
</div>

<hr class="my-5">

  <div class="row">
     <div class="col-12 col-sm-6">
      <h3>Reviews</h3>
      <% @list %>
    </div>

    <div class="col-12 col-sm-6">
      <div class="bg-white rounded p-3">
        <h5>How awesome is your list?</h5>
        <%= simple_form_for [@list, @review] do |f| %>
          <%= f.input :comment, placeholder: "Add your review here..." %>
          <%= f.input :rating, as: :select, collection: (1..10), required: true, label: false, input_html: { data: { controller: "star-rating" } } %>
          <%= f.submit class: "btn btn-flat mt-2" %>
        <% end %>
      </div>
    </div>
  </div>
